# =====================================
# Google Gemini
# =====================================
GOOGLE_API_KEY=

# =====================================
# External APIs (Optional)
# =====================================

# Weather
OPENWEATHER_API_KEY=

# Fuel Price API
FUEL_PRICE_API_KEY=

# OpenRouteService
ORS_API_KEY=

# =====================================
# Mock Mode
# =====================================
FORCE_MOCK_WEATHER=False
FORCE_MOCK_FUEL=False
FORCE_MOCK_ROUTE=False
FORCE_MOCK_LLM=False

# =====================================
# App
# =====================================
DEBUG=True